Tests: run-tests.sh
Depends:
 click,
 click-dev,
 debootstrap,
 debsig-verify,
 debsigs,
 gir1.2-click-0.4,
 iputils-ping,
 libclick-0.4-dev,
 python3-click-package,
 python3-six,
 schroot,
 sudo,
 @builddeps@,
Restrictions: needs-root allow-stderr
